#app {
  display: grid;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  place-items: center;
  text-align: center;
}

img {
  height: 200px;
  width: auto;
  margin: auto;
}

i {
  margin-right: 0.5rem;
}

.break {
  background-color: #4783ff;
}

.btn {
  width: 100%;
}

.card {
  max-width: 600px;
  margin: auto;
}

.figure-caption {
  text-transform: capitalize;
}

.placeholder {
  height: 200px;
}

.timer {
  font-family: monospace;
  font-size: 100px;
}

.work {
  background-color: #e5593f;
}

@media (max-width: 768px) {
  .btn-container:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  
  .card {
    margin: 20px auto;
  }
}

#speech {
  grid-column: 1/4;
}

#dog-speech {
  z-index: 2;
}

.bubble {
  height: 60px;
  width: 40%;
  min-width: 200px;
  background: white;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.pointer {
  height: 40px;
  width: 40px;
  background: white;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  margin: 0 auto;
  margin-bottom: 20px;
  transform: rotate(45deg);
  margin-top: -20px;
  position: relative;
  left: calc(0.5vw - 50px);
}
