hr {
  background-color: white;
}

button {
  background-color: inherit;
  border: none;
  color: inherit;
}

.figure {
  border-radius: 12px;
  width: auto;
  grid-column: 1/4;
  justify-self: center;
}

i:hover, #break-length:hover, #session-length:hover {
  cursor: pointer;
}

#dog {
  height: 200px;
}

.figure-caption {
  color: white;
}

#root {
  color: white;
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

#session-label, #break-label {
  font-size: large;
}

#app {
  border: 1px solid white;
  padding: 20px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 25% auto 25%;
  width: 80vw;
}

#title {
  grid-column: 1/4;
  font-family: impact, sans-serif;
}

#time-left {
  grid-column: 1/4;
  font-size: 6em;
  text-align: center;
  font-family: "B612 Mono", monospace;
}

.number {
  font-size: x-large;
}

#mobile-buttons {
  visibility: hidden;
  display: flex;
  justify-content: center;
}

.btn-group {
  justify-self: center;
  height: fit-content;
  align-items: baseline;
}

@media (max-width: 800px) {
  #app {
    border: none;
    width: 100vw;
  }

  #mobile-buttons {
    visibility: visible;
    margin-bottom: 12px;
  }  
  #title {
    text-align: center;
  }
  .btn-group
  {
    grid-column: 1/4;
  }
  .number {
    visibility: hidden;
  }
}
#timer-label {
  grid-column: 1/4;
  font-size: xx-large;
  border-radius: 8px;
  width: fit-content;
  justify-self: center;
  margin-bottom: 20px;
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

#speech {
  grid-column: 1/4;
}

.bubble {
	height: 60px;
	width: 40%;
	min-width: 200px;
	background: ivory;
	display: block;
	margin: 0 auto;
	border-radius: 20px;
	text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dog-speech {
  z-index: 100;
}

.pointer {
	height: 40px;
	width: 40px;
	background: ivory;
	margin: 0 auto;
  margin-bottom: 20px;
	transform: rotate(45deg);
	border-radius: 0 0 12px 0;
	margin-top: -22px;
	position: relative;
	left: calc(0.5vw - 50px);
}